<% include _header %>
<% include _header_app %>

  <h1>Events for <%= (camera && camera.name)? camera.name : "Camera" %></h1>
  
  <% var reversed = eventInfos.slice().reverse();
     reversed.forEach(function(eventInfo) { %>
    <div class="row-fluid event_row">
      <div class="span3">
        <%- renderTime(eventInfo.time) %>
      </div>
      <div class="span9">
        <%- imageForTime(Number(eventInfo.time) - timeBracket) %>
        <%- imageForTime(Number(eventInfo.time)) %>
        <%- imageForTime(Number(eventInfo.time) + timeBracket) %>
      </div>
    </div>
  <% }) %>
    
<% include _footer %>
